.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 56px);
    width: 100%;
}

.error {
    font-size: 20px;
    color: tomato;
}